// Color system

// scss-docs-start color-variables
$credit:    #FEC500 !default;
$token:     #0090FF !default;
$epic:      #FF0054 !default;
$overlock:  #FC5B00 !default;
$gauntlet:  #30EDFB !default;
$style:     #71B9B9 !default;
$vip:       #765106 !default;
// scss-docs-end color-variables

// scss-docs-start colors-map
$asphalt-colors: (
  "credit":   $credit,
  "token":    $token,
  "epic":     $epic,
  "overlock": $overlock,
  "gauntlet": $gauntlet,
  "style":    $style,
  "vip":      $vip,
) !default;
// scss-docs-end colors-map

@import "asphalt-colors-credit";
@import "asphalt-colors-token";
@import "asphalt-colors-epic";
@import "asphalt-colors-overlock";
@import "asphalt-colors-gauntlet";
@import "asphalt-colors-style";
@import "asphalt-colors-vip";

// Color system
$theme-colors: map-merge($theme-colors, $asphalt-colors);
