// Color system

// fusv-disable
$overlock-100: tint-color($overlock, 80%) !default;
$overlock-200: tint-color($overlock, 60%) !default;
$overlock-300: tint-color($overlock, 40%) !default;
$overlock-400: tint-color($overlock, 20%) !default;
$overlock-500: $overlock !default;
$overlock-600: shade-color($overlock, 20%) !default;
$overlock-700: shade-color($overlock, 40%) !default;
$overlock-800: shade-color($overlock, 60%) !default;
$overlock-900: shade-color($overlock, 80%) !default;

$overlocks: (
  "overlock-100": $overlock-100,
  "overlock-200": $overlock-200,
  "overlock-300": $overlock-300,
  "overlock-400": $overlock-400,
  "overlock-500": $overlock-500,
  "overlock-600": $overlock-600,
  "overlock-700": $overlock-700,
  "overlock-800": $overlock-800,
  "overlock-900": $overlock-900
) !default;
