// Color system

// fusv-disable
$epic-100: tint-color($epic, 80%) !default;
$epic-200: tint-color($epic, 60%) !default;
$epic-300: tint-color($epic, 40%) !default;
$epic-400: tint-color($epic, 20%) !default;
$epic-500: $epic !default;
$epic-600: shade-color($epic, 20%) !default;
$epic-700: shade-color($epic, 40%) !default;
$epic-800: shade-color($epic, 60%) !default;
$epic-900: shade-color($epic, 80%) !default;

$epics: (
  "epic-100": $epic-100,
  "epic-200": $epic-200,
  "epic-300": $epic-300,
  "epic-400": $epic-400,
  "epic-500": $epic-500,
  "epic-600": $epic-600,
  "epic-700": $epic-700,
  "epic-800": $epic-800,
  "epic-900": $epic-900
) !default;
