// Color system

// fusv-disable
$style-100: tint-color($style, 80%) !default;
$style-200: tint-color($style, 60%) !default;
$style-300: tint-color($style, 40%) !default;
$style-400: tint-color($style, 20%) !default;
$style-500: $style !default;
$style-600: shade-color($style, 20%) !default;
$style-700: shade-color($style, 40%) !default;
$style-800: shade-color($style, 60%) !default;
$style-900: shade-color($style, 80%) !default;

$styles: (
  "style-100": $style-100,
  "style-200": $style-200,
  "style-300": $style-300,
  "style-400": $style-400,
  "style-500": $style-500,
  "style-600": $style-600,
  "style-700": $style-700,
  "style-800": $style-800,
  "style-900": $style-900
) !default;
