
// Cards
//$card-border-radius: $border-radius-lg;
//$card-bg: $gray-800;

// Customs
//#blueprints input {
//    font-size: 0.85rem;
//}

// Forms
$form-range-track-bg: $gray-600;
$form-range-thumb-width: 0.85rem;
$form-range-thumb-bg: $teal-700;
