{#{{ attributes }}#}
<!-- component HTML -->
<a href="{{ path(path) }}" class="{% if app.current_route starts with route %}text-primary{% else %}text-secondary{% endif %} text-decoration-none pe-5">
    {{ text }}
</a>
