{#{{ attributes }}#}
<!-- component html -->
<tr>
    <td colspan="{{ value }}" class="bg-danger-subtle text-center text-uppercase text-danger fw-bolder">
        {{ 'text.no-data'|trans }}
    </td>
</tr>
