<div class="row row-cols-2">
    <div class="col w-25">
        <a href="{{ path(links.index) }}" class="btn btn-lg btn-outline-warning fw-bolder rounded-top-5 rounded-bottom-0 w-100">{{ 'btn.back'|trans }}</a>
    </div>
    <div class="col w-75">
        <button class="btn btn-lg btn-outline-success fw-bolder rounded-top-5 rounded-bottom-0 w-100" type="submit">{{ 'btn.register'|trans }}</button>
    </div>
</div>
