
{#<section class="{{ container|default('container') }} mb-2 px-0">#}
<div class="col-3">
    <h2 class="text-center">{{ 'text.status'|trans|plural }}</h2>
        <div class="form-check form-switch">
            {{ form_row(form.status.0.toUpgradeLevel) }}
        </div>
</div>
{#</section>#}
