
<section class="{{ container|default('container') }} mb-2 px-0">
    <div class="row row-cols-5">
        <div class="col-1">
{#            <twig:FormGroup1Value form="{{ form.unlocked }}" />#}
        </div>
        <div class="col-1">
{#            <twig:FormGroup1Value form="{{ form.gold }}" />#}
        </div>
        <div class="col-10">
            <twig:FormGroup1Value form="{{ form.settingTag }}" />
        </div>
    </div>
</section>
