{% extends 'base.html.twig' %}

{% block title %}GarageGauntlet{% endblock %}

{% block body %}
    <h1>GarageGauntlet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ garage_gauntlet.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_garage_gauntlet_index') }}">back to list</a>

    <a href="{{ path('app_garage_gauntlet_edit', {'id': garage_gauntlet.id}) }}">edit</a>

    {{ include('garage_gauntlet/_delete_form.html.twig') }}
{% endblock %}
