{% extends 'base.html.twig' %}

{% block title %}Edit GarageStatMax{% endblock %}

{% block body %}
    <h1>Edit GarageStatMax</h1>

    {{ include('garage_stat_max/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_garage_stat_max_index') }}">back to list</a>

    {{ include('garage_stat_max/_delete_form.html.twig') }}
{% endblock %}
