
<div class="row mb-2">
    <div class="card-group">
        {{ component('FormFrontInventory', {color: 'secondary', icon: 'fa-rocket', maxValue: 999, form: speed}) }}
        {{ component('FormFrontInventory', {color: 'secondary', icon: 'fa-gauge-high', maxValue: 999, form: acceleration}) }}
        {{ component('FormFrontInventory', {color: 'secondary', icon: 'fa-gear', maxValue: 999, form: handling}) }}
        {{ component('FormFrontInventory', {color: 'secondary', icon: 'fa-fire', maxValue: 999, form: nitro}) }}
    </div>
</div>
