{% extends 'base.html.twig' %}

{% block title %}GarageUpgrade index{% endblock %}

{% block body %}
    <h1>GarageUpgrade index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for garage_upgrade in garage_upgrades %}
            <tr>
                <td>{{ garage_upgrade.id }}</td>
                <td>
                    <a href="{{ path('app_garage_upgrade_show', {'id': garage_upgrade.id}) }}">show</a>
                    <a href="{{ path('app_garage_upgrade_edit', {'id': garage_upgrade.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_garage_upgrade_new') }}">Create new</a>
{% endblock %}
