{% for label, messages in app.flashes %}
    {% for message in messages %}
{#    <div class="alert alert-{{ label }}" role="alert">{{ message }}</div>#}
        <app-flash type="{{ label }}" message="{{ message }}"></app-flash>
    {% endfor %}
{% endfor %}
