{% extends 'base.html.twig' %}

{% block title %}GarageApp index{% endblock %}

{% block body %}
    <h1>GarageApp index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for garage_app in garage_apps %}
            <tr>
                <td>{{ garage_app.id }}</td>
                <td>
                    <a href="{{ path('app_garage_app_show', {'id': garage_app.id}) }}">show</a>
                    <a href="{{ path('app_garage_app_edit', {'id': garage_app.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_garage_app_new') }}">Create new</a>
{% endblock %}
