{% extends 'base.html.twig' %}

{% block title %}GarageApp{% endblock %}

{% block body %}
    <h1>GarageApp</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ garage_app.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_garage_app_index') }}">back to list</a>

    <a href="{{ path('app_garage_app_edit', {'id': garage_app.id}) }}">edit</a>

    {{ include('garage_app/_delete_form.html.twig') }}
{% endblock %}
