
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30">
            <img
                src="{{ asset('themes/aero/assets/images/loader.svg')}}"
                class="zmdi-hc-spin"
                width="96"
                height="96"
                alt="{{ metas.title }}"
            />
        </div>
        <p>Please wait...</p>
    </div>
</div>
