
<div class="row mb-2">
    <div class="card-group">
        <twig:CardInventory color="secondary" icon="fa-rocket" maxValue="999" form="{{ speed }}" />
        <twig:CardInventory color="secondary" icon="fa-gauge-high" maxValue="999" form="{{ acceleration }}" />
        <twig:CardInventory color="secondary" icon="fa-gear" maxValue="999" form="{{ handling }}" />
        <twig:CardInventory color="secondary" icon="fa-fire" maxValue="999" form="{{ nitro }}" />
    </div>
</div>
