
            <h2 class="h4 text-start text-uppercase">
                {{ 'text.joker'|trans|plural() }}
            </h2>

            {% include '@App/contents/front/dashboard/_joker-S.html.twig' %}

            {% include '@App/contents/front/dashboard/_joker-A.html.twig' %}

            {% include '@App/contents/front/dashboard/_joker-B.html.twig' %}

            {% include '@App/contents/front/dashboard/_joker-C.html.twig' %}

            {% include '@App/contents/front/dashboard/_joker-D.html.twig' %}
