{% extends '@App/bases/front/full.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-xxl-23 col-md-36">
            {% include '@App/contents/front/dashboard/_moneys.html.twig' %}
            {% include '@App/contents/front/dashboard/_jokers.html.twig' %}
            {% include '@App/contents/front/dashboard/_import-rares.html.twig' %}
            {% include '@App/contents/front/dashboard/_import-commons.html.twig' %}
        </div>
        <div class="col-xxl-13 col-md-36">
            {% include '@App/contents/front/dashboard/_table-statistical.html.twig' %}
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/card-inventory.css') }}" />
{% endblock %}
