
<h4 class="text-start text-uppercase">
    {{ 'text.joker'|trans|plural() }}
</h4>

{% include '@App/theme-lte/contents/front/dashboard/inventory/_joker-S.html.twig' %}

{% include '@App/theme-lte/contents/front/dashboard/inventory/_joker-A.html.twig' %}

{% include '@App/theme-lte/contents/front/dashboard/inventory/_joker-B.html.twig' %}

{% include '@App/theme-lte/contents/front/dashboard/inventory/_joker-C.html.twig' %}

{% include '@App/theme-lte/contents/front/dashboard/inventory/_joker-D.html.twig' %}
