{% extends 'base.html.twig' %}

{% block title %}GarageStatus index{% endblock %}

{% block body %}
    <h1>GarageStatus index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for garage_status in garage_statuses %}
            <tr>
                <td>{{ garage_status.id }}</td>
                <td>
                    <a href="{{ path('app_garage_status_show', {'id': garage_status.id}) }}">show</a>
                    <a href="{{ path('app_garage_status_edit', {'id': garage_status.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_garage_status_new') }}">Create new</a>
{% endblock %}
