{% extends 'base.html.twig' %}

{% block title %}GarageStatus{% endblock %}

{% block body %}
    <h1>GarageStatus</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ garage_status.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_garage_status_index') }}">back to list</a>

    <a href="{{ path('app_garage_status_edit', {'id': garage_status.id}) }}">edit</a>

    {{ include('garage_status/_delete_form.html.twig') }}
{% endblock %}
