{% extends 'base.html.twig' %}

{% block title %}New RaceApp{% endblock %}

{% block body %}
    <h1>Create new RaceApp</h1>

    {{ include('race_app/_form.html.twig') }}

    <a href="{{ path('app.race.index') }}">back to list</a>
{% endblock %}
