{% extends 'base.html.twig' %}

{% block title %}Edit RaceSeason{% endblock %}

{% block body %}
    <h1>Edit RaceSeason</h1>

    {{ include('race_season/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_race_season_index') }}">back to list</a>

    {{ include('race_season/_delete_form.html.twig') }}
{% endblock %}
