{% extends 'base.html.twig' %}

{% block title %}New RaceSeason{% endblock %}

{% block body %}
    <h1>Create new RaceSeason</h1>

    {{ include('race_season/_form.html.twig') }}

    <a href="{{ path('app_race_season_index') }}">back to list</a>
{% endblock %}
