{% extends 'base.html.twig' %}

{% block title %}GarageRank{% endblock %}

{% block body %}
    <h1>GarageRank</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ garage_rank.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_garage_rank_index') }}">back to list</a>

    <a href="{{ path('app_garage_rank_edit', {'id': garage_rank.id}) }}">edit</a>

    {{ include('garage_rank/_delete_form.html.twig') }}
{% endblock %}
