{% extends 'base.html.twig' %}

{% block title %}Edit SettingUnitPrice{% endblock %}

{% block body %}
    <h1>Edit SettingUnitPrice</h1>

    {{ include('setting_unit_price/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_setting_unit_price_index') }}">back to list</a>

    {{ include('setting_unit_price/_delete_form.html.twig') }}
{% endblock %}
