{% extends 'base.html.twig' %}

{% block title %}New SettingClass{% endblock %}

{% block body %}
    <h1>Create new SettingClass</h1>

    {{ include('setting_class/_form.html.twig') }}

    <a href="{{ path('app_setting_class_index') }}">back to list</a>
{% endblock %}
