<form method="post" action="{{ path('app_setting_tag_delete', {'id': setting_tag.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ setting_tag.id) }}">
    <button class="btn">Delete</button>
</form>
