{% extends 'base.html.twig' %}

{% block title %}Edit SettingTag{% endblock %}

{% block body %}
    <h1>Edit SettingTag</h1>

    {{ include('setting_tag/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_setting_tag_index') }}">back to list</a>

    {{ include('setting_tag/_delete_form.html.twig') }}
{% endblock %}
