{% extends '@App/bases/index.html.twig' %}

{% set items = app.request.attributes.get('_route')|split('.') %}

{% block containers %}

<div class="page">

{% block header %}{% include('@App/partials/header.html.twig') %}{% endblock %}

<!-- Begin Page Content -->
<div class="page-content d-flex align-items-stretch">

{% block sidebar %}{% include('@App/partials/sidebar.html.twig') %}{% endblock %}

    <!-- Begin Content -->
{#    {% if app.current_route != 'app.dashboard.index' %}#}
{#        <div class="content-inner active">#}
{#    {% else %}#}
    <div class="content-inner">
{#    {% endif %}#}

        <!-- Begin Container -->
        <div class="container-fluid" style="min-height: 700px;">
            {% block breadcrumb %}{% include('@App/partials/breadcrumb.html.twig') %}{% endblock %}

{#                {% include '@App/partials/alert.html.twig' %}#}
            {% include '@App/partials/notification.html.twig' %}

            {% block contents %}

            <div class="p-1">
                <div class="card bg-dark">
                    <div class="card-header">
                        {% block card %}{% include('@App/partials/index-card/default.html.twig') %}{% endblock %}
                    </div>
                    <div class="card-body">
                        {% block datas %}{% endblock %}
                    </div>
                </div>
            </div>

            {% endblock %}
        </div>
        <!-- End Container -->

        {% block footer %}{% include('@App/partials/footer.html.twig') %}{% endblock %}

        <a href="javascript:void(0);" class="go-top"><i class="ti-arrow-circle-up"></i></a>

        {% block offcanvas %}{% include('@App/partials/offcanvas.html.twig') %}{% endblock %}
    </div>
    <!-- End Content -->
</div>
<!-- End Page Content -->
</div>
{% endblock %}

{% block javascripts %}
<!-- Begin Page Vendor Js -->
<script type="text/javascript" src="{{ asset('themes/elisyam/vendors/js/nicescroll/nicescroll.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('themes/elisyam/vendors/js/app/app.min.js') }}"></script>
<!-- End Page Vendor Js -->

<!-- Begin Page Snippets -->
<script type="text/javascript" src="{{ asset('themes/elisyam/js/dashboard/db-default-dark.js') }}"></script>
<!-- End Page Snippets -->
<!-- Sweat Alert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.15.10/dist/sweetalert2.all.min.js"></script>
    {% block sweatalert %}
<script>
console.info('SWAT loaded !');
let message = document.querySelector('#sweet');
let option  = {}
console.log(message);
if (message.className === 'success') {
    option = {
        position:               'top-end',
        title:                  'BDD',
        text:                   message.textContent,
        icon:                   'success',
        iconColor:              'green',
        showConfirmButton:      false,
        timerProgressBar:       true,
        timer:                  1500,
        toast:                  true,
        showCloseButton:        false,
        closeButtonHtml:        '&times;',
        closeButtonAriaLabel:   'Close this dialog',
        width:                  '600px',
        heightAuto:             true,
    }
}

if (message.className === 'error') {
    option = {
        position:               'top-end',
        title:                  'Houston !',
        text:                   'We have a problem !',
        icon:                   'error',
        iconColor:              'red',
        showConfirmButton:      false,
        timerProgressBar:       true,
        timer:                  500,
        toast:                  false,
        showCloseButton:        false,
        closeButtonHtml:        '&times;',
        closeButtonAriaLabel:   'Close this dialog',
    }
}

Swal.fire(option);
</script>
{% endblock %}
{% endblock %}
