{% extends 'base.html.twig' %}

{% block title %}New GarageGauntlet{% endblock %}

{% block body %}
    <h1>Create new GarageGauntlet</h1>

    {{ include('garage_gauntlet/_form.html.twig') }}

    <a href="{{ path('app_garage_gauntlet_index') }}">back to list</a>
{% endblock %}
