{% extends '@App/theme-lte/bases/front/full.html.twig' %}

{% block content %}

{% set background, text = '', '' %}

{#{% if entity.status.current.unblock is true %}#}
{#    {% set status = 'unblock' %}#}
{#{% else %}#}
{#    {% set status = 'lock' %}#}
{#{% endif %}#}

{#{% if entity.status.current.gold is true %}#}
{#    {% set gold = 'gold' %}#}
{#{% else %}#}
{#    {% set gold = null %}#}
{#{% endif %}#}

<div class="row">
    <div class="col-md-10">

        <div class="card">

            <div class="card-header text-center">
                {% include "@App/theme-lte/contents/front/garage/_title.html.twig" %}
            </div>

            <div class="card-body">
                {% include '@App/theme-lte/contents/front/garage/read/garage-part-1.html.twig' %}
                {% include '@App/theme-lte/contents/front/garage/read/blueprint.html.twig' %}
                {% include '@App/theme-lte/contents/front/garage/read/rank.html.twig' %}
                {% include '@App/theme-lte/contents/front/garage/read/stat.html.twig' %}
                {% include '@App/theme-lte/contents/front/garage/read/upgrade.html.twig' %}
                {% include '@App/theme-lte/contents/front/garage/read/unit-price.html.twig' %}
                {% include '@App/theme-lte/contents/front/garage/read/tag.html.twig' %}
            </div>

            <div class="card-footer">
                &nbsp;
            </div>

        </div>

    </div>
    <div class="col-md-2">
        {% include '@App/theme-lte/contents/front/garage/read/_button.html.twig' %}
    </div>
</div>

{% endblock %}
