body {
    background-color: transparent !important;
}

.bg-carbon-premium {
  background:
    linear-gradient(45deg, #111111 25%, transparent 25%) -10px 0,
    linear-gradient(-45deg, #111111 25%, transparent 25%) -10px 0,
    linear-gradient(45deg, transparent 75%, #1a1a1a 75%),
    linear-gradient(-45deg, transparent 75%, #1a1a1a 75%);
  background-size: 8px 8px;
  background-color: #161616;
}

.bg-carbon-fiber {
    background-attachment: fixed;
    background-clip: border-box;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
        /*url("../images/carbon-fiber-02.jpg")*/
        /*url("../images/carbon-fiber-03.jpg")*/
        /*url("../images/carbon-fiber-04.jpg")*/
        /*url("../images/carbon-fiber-05.jpg")*/
        /*url("../images/carbon-fiber-06.jpg")*/
        /*url("../images/carbon-fiber-07.jpg")*/
        /*url("../images/carbon-fiber-08.jpg")*/
        url("../images/carbon-fiber-09.jpg")
        /*url("../images/carbon-fiber-10.jpg")*/
        /*url("../images/carbon-fiber-11.jpg")*/
    ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*filter: contrast(300%) sepia(100%); grayscale(80%) contrast(200%)*/
}

/**/
.form-floating > label {
    left: inherit;
}

/* DASHBOARD */
div.app-wrapper main#main.app-main div.app-content div.container-fluid div.col div.info-box span.info-box-icon i.fa-2x {
    font-size: 40.5px;
}

/* TITLE */
/* ChatGPT */
.title-premium {
    background:
        linear-gradient(
            180deg,
            #fbe8ab 0%,
            #e5c06e 18%,
            #c99947 38%,
            #a87531 60%,
            #7c5724 82%,
            #4d3513 100%
        );

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    -webkit-text-stroke:.8px rgba(80,55,18,.45);

    text-shadow:
        0 1px 0 rgba(255,255,255,.15),
        0 2px 2px rgba(0,0,0,.35),
        0 4px 8px rgba(0,0,0,.25)
    ;
}

/* Box */
.class-box {
    position: relative;
    display: flex;
    width: 120px;
    min-height: 140px;
    padding: 0.5rem;
    background:url("../images/badge-01.png") no-repeat;
}
.class-box .class-box-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    /*line-height: 1.8;*/
}
.class-box-label {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.stars {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90px;
    border-radius: 12px;
    background-color: rgba(20, 20, 20, 0.85);
    border: 2px solid #f9d423;
    box-shadow: 0 0 15px rgba(249, 212, 35, 0.5), inset 0 0 10px rgba(249, 212, 35, 0.2);
}


/* TEST */
.gradient {
    background: linear-gradient(135deg, #1F2937, #020617)
}
