{% import "@App/app/dashboard/index.html.twig" as fn %}

<!-- Begin Row -->
<h3 class="h2 text-uppercase text-center fw-bold shadow-lg border-top pt-1">Rares</h3>
<div class="row row-cols-5 g-3">
{% for rare in rares %}
    {% set ico = fn.faIcon(rare.label) %}
    {% set t = (rare.label ~ ' ' ~ rare.filter) %}
    <div class="col">
        {{ component('CardDashboard', {tabindex: rare.position, maxValue: 999, color: 'text-primary', title: t, icon: ico|striptags, datas: rare}) }}
    </div>
{% endfor %}
</div>
<!-- End Row -->
