<div
    id="flash-messages"
    class="alert alert-{{ type }} {# d-none #} mx-5"
    role="alert"
    data-bs-toggle="alert"
    {{ attributes }}
>
    <!-- component HTML -->
    {{ message }}
</div>
