<section class="card py-0 mb-2">
    <div class="card-header">
        <h2 class="text-center text-dark-emphasis h4">{{ 'app.garage.update.blueprint'|trans }}</h2>
    </div>
    <div class="card-body">
        <div class="row row-cols-6 g-2">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
    </div>
</section>
