<section class="card bg-light py-0 mb-2">
    <div class="card-header">
        <h2 class="text-center text-dark-emphasis h3 my-0">{{ 'app.garage.update.tag'|trans }}</h2>
    </div>
    <div class="card-body">
        <div class="row row-cols-3 g-2">
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</section>
