{% extends '@App/bases/front/full.html.twig' %}

{% block content %}

    {% set car = entity.brand ~ ' ' ~ entity.model %}
    {% if entity.unlocked is true %}
        {% set status = 'unlock' %}
    {% else %}
        {% set status = 'lock' %}
    {% endif %}
    {% if entity.gold is true %}
        {% set gold = 'gold' %}
    {% else %}
        {% set gold = null %}
    {% endif %}

    <div class="card bg-light">
        <div class="card-header text-center">
            {% if car | length > 30 %}
            <h1 class="display-5 mb-0">{{ car }}</h1>
            {% elseif car | length < 10 %}
            <h1 class="display-3 mb-0">{{ car }}</h1>
            {% else %}
            <h1 class="display-4 mb-0">{{ car }}</h1>
            {% endif %}
        </div>
        {% include '@App/contents/front/garage/_read-garage-1.html.twig' %}
        {% include '@App/contents/front/garage/_read-garage-2.html.twig' %}
        {% include '@App/contents/front/garage/_read-garage-3.html.twig' %}
        {% include '@App/contents/front/garage/_read-blueprint.html.twig' %}
        {% include '@App/contents/front/garage/_read-rank.html.twig' %}
        {% include '@App/contents/front/garage/_read-stat.html.twig' %}
{#        {% include '@App/contents/front/garage/_read-tag.html.twig' %}#}
        {% include '@App/contents/front/garage/_read-upgrade.html.twig' %}
        {% include '@App/contents/front/garage/_read-unit-price.html.twig' %}
        <div class="card-footer">
            &nbsp;
        </div>
    </div>

{% endblock %}
