{#{{ attributes }}#}
<!-- component HTML -->

<div class="card">
    <div class="card-header text-center p-1">
        {{ form_label(form) }}
    </div>
    <div class="card-body text-center p-1">
        {{ form_widget(form}) }}
    </div>
    <div class="card-footer text-center p-1">
    </div>
</div>
