{#{{ attributes }}#}
<!-- component HTML -->

{% set result = (value - form.vars.value) %}

<div class="card">
    <div class="card-header text-center p-1">
        {{ form_label(form) }}
    </div>
    <div class="card-body text-center p-1">
        {{ form_widget(form, {attr: {'max': value}}) }}
    </div>
    <div class="card-footer text-center p-1">
        <span class="text-info text-center fw-bolder py-0">
            {% if result != 0 %}{{ result }}{% else %}&nbsp;{% endif %}
        </span>
    </div>
</div>
