{#{{ attributes }}#}
<!-- component HTML -->
<label class="m-0">
    <input
        type="text"
        name="{{ name|trans }}"
        class="form-control bg-dark text-center h5 p-1 m-0"
        placeholder="{{ name|trans }}"
        value="{{ value }}"
        disabled
    >
</label>
