
<section class="{{ container|default('container') }} mb-2 px-0">
    <div class="row row-cols-3 mb-3">
        <div class="col">&nbsp;</div>
        <div class="col">&nbsp;</div>
        <div class="col">&nbsp;</div>
    </div>
    <div class="row row-cols-4">
        <div class="col">&nbsp;</div>
        <div class="col">&nbsp;</div>
        <div class="col">&nbsp;</div>
        <div class="col">&nbsp;</div>
    </div>
</section>
