{% extends 'base.html.twig' %}

{% block title %}New GarageStatMin{% endblock %}

{% block body %}
    <h1>Create new GarageStatMin</h1>

    {{ include('garage_stat_min/_form.html.twig') }}

    <a href="{{ path('app_garage_stat_min_index') }}">back to list</a>
{% endblock %}
