{% extends 'base.html.twig' %}

{% block title %}GarageStatMin{% endblock %}

{% block body %}
    <h1>GarageStatMin</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ garage_stat_min.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_garage_stat_min_index') }}">back to list</a>

    <a href="{{ path('app_garage_stat_min_edit', {'id': garage_stat_min.id}) }}">edit</a>

    {{ include('garage_stat_min/_delete_form.html.twig') }}
{% endblock %}
