        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <div class="navbar-brand">
                <button class="btn-menu ls-toggle-btn" type="button"><i class="zmdi zmdi-menu"></i></button>
                <a href="javascript:void(0);"><img src="{{ asset('themes/aero/assets/images/logo.svg') }}" width="25" alt="Aero"><span class="m-l-10">Aero</span></a>
            </div>
            <div class="menu">
                <ul class="list">
                    <li>
                        <div class="user-info">
                            <a class="image" href="javascript:void(0);"><img src="{{ asset('themes/aero/assets/images/profile_av.jpg') }}" alt="User"></a>
                            <div class="detail">
                                <h4>Michael</h4>
                                <small>Super Back</small>
                            </div>
                        </div>
                    </li>
                    <li class="active open"><a href="javascript:void(0);"><i class="zmdi zmdi-home"></i><span>Dashboard</span></a></li>
                    <li><a href="javascript:void(0);"><i class="zmdi zmdi-account"></i><span>Our Profile</span></a></li>
                    <li><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-apps"></i><span>App</span></a>
                        <ul class="ml-menu">
                            <li><a href="javascript:void(0);">Email</a></li>
                            <li><a href="javascript:void(0);">Chat Apps</a></li>
                            <li><a href="javascript:void(0);">Calendar</a></li>
                            <li><a href="javascript:void(0);">Contact</a></li>
                        </ul>
                    </li>
                    <li> <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-assignment"></i><span>Projects</span></a>
                        <ul class="ml-menu">
                            <li><a href="javascript:void(0);">Projects List</a></li>
                            <li><a href="javascript:void(0);">Taskboard</a></li>
                            <li><a href="javascript:void(0);">Ticket List</a></li>
                            <li><a href="javascript:void(0);">Ticket Detail</a></li>
                        </ul>
                    </li>
                    <li> <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-folder"></i><span>File Manager</span></a>
                        <ul class="ml-menu">
                            <li><a href="javascript:void(0);">All File</a></li>
                            <li><a href="javascript:void(0);">Documents</a></li>
                            <li><a href="javascript:void(0);">Images</a></li>
                            <li><a href="javascript:void(0);">Media</a></li>
                        </ul>
                    </li>
                    <li> <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-blogger"></i><span>Blog</span></a>
                        <ul class="ml-menu">
                            <li><a href="javascript:void(0);">Dashboard</a></li>
                            <li><a href="javascript:void(0);">Blog Post</a></li>
                            <li><a href="javascript:void(0);">List View</a></li>
                            <li><a href="javascript:void(0);">Grid View</a></li>
                            <li><a href="javascript:void(0);">Blog Details</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-shopping-cart"></i><span>Ecommerce</span></a>
                        <ul class="ml-menu">
                            <li><a href="javascript:void(0);">Dashboard</a></li>
                            <li><a href="javascript:void(0);">Product</a></li>
                            <li><a href="javascript:void(0);">Product List</a></li>
                            <li><a href="javascript:void(0);">Product detail</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-swap-alt"></i><span>Components</span></a>
                        <ul class="ml-menu">
                            <li><a href="javascript:void(0);">Aero UI KIT</a></li>
                            <li><a href="javascript:void(0);">Alerts</a></li>
                            <li><a href="javascript:void(0);">Collapse</a></li>
                            <li><a href="javascript:void(0);">Colors</a></li>
                            <li><a href="javascript:void(0);">Dialogs</a></li>
                            <li><a href="javascript:void(0);">List Group</a></li>
                            <li><a href="javascript:void(0);">Media Object</a></li>
                            <li><a href="javascript:void(0);">Modals</a></li>
                            <li><a href="javascript:void(0);">Notifications</a></li>
                            <li><a href="javascript:void(0);">Progress Bars</a></li>
                            <li><a href="javascript:void(0);">Range Sliders</a></li>
                            <li><a href="javascript:void(0);">Sortable & Nestable</a></li>
                            <li><a href="javascript:void(0);">Tabs</a></li>
                            <li><a href="javascript:void(0);">Waves</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-flower"></i><span>Font Icons</span></a>
                        <ul class="ml-menu">
                            <li><a href="javascript:void(0);">Material Icons</a></li>
                            <li><a href="javascript:void(0);">Themify Icons</a></li>
                            <li><a href="javascript:void(0);">Weather Icons</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-assignment"></i><span>Forms</span></a>
                        <ul class="ml-menu">
                            <li><a href="javascript:void(0);">Basic Form</a></li>
                            <li><a href="javascript:void(0);">Advanced Form</a></li>
                            <li><a href="javascript:void(0);">Form Examples</a></li>
                            <li><a href="javascript:void(0);">Form Validation</a></li>
                            <li><a href="javascript:void(0);">Form Wizard</a></li>
                            <li><a href="javascript:void(0);">Editors</a></li>
                            <li><a href="javascript:void(0);">File Upload</a></li>
                            <li><a href="javascript:void(0);">Summernote</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-grid"></i><span>Tables</span></a>
                        <ul class="ml-menu">
                            <li><a href="javascript:void(0);">Normal Tables</a></li>
                            <li><a href="javascript:void(0);">Jquery Datatables</a></li>
                            <li><a href="javascript:void(0);">Editable Tables</a></li>
                            <li><a href="javascript:void(0);">Foo Tables</a></li>
                            <li><a href="javascript:void(0);">Tables Color</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-chart"></i><span>Charts</span></a>
                        <ul class="ml-menu">
                            <li><a href="javascript:void(0);">E Chart</a></li>
                            <li><a href="javascript:void(0);">C3 Chart</a></li>
                            <li><a href="javascript:void(0);">Morris</a></li>
                            <li><a href="javascript:void(0);">Flot</a></li>
                            <li><a href="javascript:void(0);">ChartJS</a></li>
                            <li><a href="javascript:void(0);">Sparkline</a></li>
                            <li><a href="javascript:void(0);">Jquery Knob</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-delicious"></i><span>Widgets</span></a>
                        <ul class="ml-menu">
                            <li><a href="javascript:void(0);">Apps Widgets</a></li>
                            <li><a href="javascript:void(0);">Data Widgets</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-lock"></i><span>Authentication</span></a>
                        <ul class="ml-menu">
                            <li><a href="javascript:void(0);">Sign In</a></li>
                            <li><a href="javascript:void(0);">Sign Up</a></li>
                            <li><a href="javascript:void(0);">Forgot Password</a></li>
                            <li><a href="javascript:void(0);">Page 404</a></li>
                            <li><a href="javascript:void(0);">Page 500</a></li>
                            <li><a href="javascript:void(0);">Page Offline</a></li>
                            <li><a href="javascript:void(0);">Locked Screen</a></li>
                        </ul>
                    </li>
                    <li class="open_top"><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-copy"></i><span>Sample Pages</span></a>
                        <ul class="ml-menu">
                            <li><a href="javascript:void(0);">Blank Page</a></li>
                            <li><a href="javascript:void(0);">Image Gallery</a></li>
                            <li><a href="javascript:void(0);">Profile</a></li>
                            <li><a href="javascript:void(0);">Timeline</a></li>
                            <li><a href="javascript:void(0);">Pricing</a></li>
                            <li><a href="javascript:void(0);">Invoices</a></li>
                            <li><a href="javascript:void(0);">Invoices List</a></li>
                            <li><a href="javascript:void(0);">Search Results</a></li>
                        </ul>
                    </li>
                    <li class="open_top"><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-map"></i><span>Maps</span></a>
                        <ul class="ml-menu">
                            <li><a href="javascript:void(0);">Google Map</a></li>
                            <li><a href="javascript:void(0);">YandexMap</a></li>
                            <li><a href="javascript:void(0);">jVectorMap</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="progress-container progress-primary m-t-10">
                            <span class="progress-badge">Traffic this Month</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width: 67%;">
                                    <span class="progress-value">67%</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress-container progress-info">
                            <span class="progress-badge">Server Load</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="width: 86%;">
                                    <span class="progress-value">86%</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
