<!-- component html -->
<div class="card bg-primary">
    <div class="card-header text-center">
        {{ form_label(form) }}
    </div>
    <div class="card-body p-1">
        {{ form_widget(form) }}
    </div>
</div>
