<div class="row"{{ attributes }}>
    <!-- component html -->
    <div class="w-25 pl-5"><a class="btn btn-outline-warning w-100" href="{{ path(link) }}">Back to List</a></div>
    <div class="w-25 px-5">&nbsp;</div>
    <div class="w-50 pr-5"><button class="btn btn-outline-success w-100">{{ button_label|default('Create') }}</button></div>
</div>
