<form method="post" action="{{ path('app_garage_gauntlet_delete', {'id': garage_gauntlet.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ garage_gauntlet.id) }}">
    <button class="btn">Delete</button>
</form>
