{% extends 'base.html.twig' %}

{% block title %}GarageEvo index{% endblock %}

{% block body %}
    <h1>GarageEvo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for garage_evo in garage_evos %}
            <tr>
                <td>{{ garage_evo.id }}</td>
                <td>
                    <a href="{{ path('app_garage_evo_show', {'id': garage_evo.id}) }}">show</a>
                    <a href="{{ path('app_garage_evo_edit', {'id': garage_evo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_garage_evo_new') }}">Create new</a>
{% endblock %}
