{% extends 'base.html.twig' %}

{% block title %}New GarageEvo{% endblock %}

{% block body %}
    <h1>Create new GarageEvo</h1>

    {{ include('garage_evo/_form.html.twig') }}

    <a href="{{ path('app_garage_evo_index') }}">back to list</a>
{% endblock %}
