{% extends 'base.html.twig' %}

{% block title %}Edit InventoryApp{% endblock %}

{% block body %}
    <h1>Edit InventoryApp</h1>

    {{ include('inventory_app/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_inventory_app_index') }}">back to list</a>

    {{ include('inventory_app/_delete_form.html.twig') }}
{% endblock %}
