
    <script>
    // var $button = $.backToTop();
    var $button = $.backToTop({
        // background color
        backgroundColor: '#5D5D5D',
        // text color
        color: '#FFFFFF',
        // container element
        container: this._body,
        // 'nonn', 'spin', 'fade', 'zoom', or 'spin-inverse'
        effect: 'spin-inverse',
        // enable the back to top button
        enabled: true,
        // width/height of the back to top button
        height: 80,
        width: 80,
        // icon
        icon: 'fas fa-chevron-up',
        // margins
        marginX: 40,
        marginY: 40,
        // bottom/top left/right
        position: 'bottom right',
        // trigger position
        pxToTrigger: 600,
        // scroll animation
        // scroll<a href="https://www.jqueryscript.net/animation/">Animation</a>: 0,
        // or 'fawesome'
        theme: 'default',
        // z-index
        zIndex: 999
    });
    </script>
