{% extends 'base.html.twig' %}

{% block title %}Edit GarageStatActual{% endblock %}

{% block body %}
    <h1>Edit GarageStatActual</h1>

    {{ include('garage_stat_actual/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_garage_stat_actual_index') }}">back to list</a>

    {{ include('garage_stat_actual/_delete_form.html.twig') }}
{% endblock %}
