{% block body %}

    {% block preloader %}
        {% include '@App/partials/back/loader.html.twig' %}
    {% endblock %}

    {% block header %}
        {% include '@App/partials/back/header.html.twig' %}
    {% endblock %}

    {% block notification %}
        {% include "@App/partials/back/notification.html.twig" %}
    {% endblock %}

<main class="{% block mainClass %}{{ container|default('container-fluid') }}{% endblock %}">
    {% block breadcrumb %}
        {% include '@App/partials/back/breadcrumb.html.twig' %}
    {% endblock %}

    {% block content %}{% endblock %}
</main>

    {% block footer %}
        {% include '@App/partials/back/footer.html.twig' %}
    {% endblock %}

{% endblock %}

{% extends '@App/base.html.twig' %}
