
<!--begin::Footer-->
<footer class="app-footer">
    <!--begin::To the end-->
    <div class="float-end d-none d-sm-inline">All rights reserved.</div>
    <!--end::To the end-->
    <!--begin::Copyright-->
    <strong>Copyright &copy; 2020 - {{ "now"|date("Y") }}&nbsp;</strong>&nbsp;
    Design By <span class="text-danger fw-bolder">Karlito&nbsp;<span class="text-white">Web</span></span>
    <!--end::Copyright-->
</footer>
<!--end::Footer-->
