{% extends '@App/bases/back/full.html.twig' %}

{% block bodyClass %} class="bg-dark"{% endblock %}

{% block content %}
    <section class="py-2 text-center">

        <figure>
            <h1 class="display-6 fw-bolder">{{ metas.title }}</h1>
            <img src="{{ asset('images/logo-black.png') }}" alt="{{ metas.title }}" height="200" />
            <figcaption class="display-4">{{ breadcrumb.page }}</figcaption>
        </figure>

    </section>
{% endblock %}
