
<!-- Footer -->
<footer class="footer mt-5 pt-3 bg-body-tertiary text-center">
    <div class="{{ container|default('container') }}">
        <figure class="d-inline-flex">
            <img src="{{ asset(images.logo.front) }}" alt="{{ metas.title }}" height="30" />
            <div class="ms-2 text-body-secondary">Design By <span class="fw-bolder">Karlito Web</span></div>
            <div class="ms-2 text-body-secondary">© 2020 - {{ "now"|date("Y") }}</div>
        </figure>
    </div>
</footer>
