
<!-- Footer -->
<footer class="footer mt-5 pt-3 bg-body-tertiary">
    <div class="{{ container|default('container') }}">
        <figure class="d-inline-flex">
            <img src="{{ asset(images.logo) }}" alt="{{ metas.title }}" height="30" />
            <div class="ms-2 text-body-secondary">Design By Karlito Web</div>
            <div class="ms-2 text-body-secondary">© 2020 - {{ "now"|date("Y") }}</div>
        </figure>
    </div>


    <div class="row row-cols-3 my-3 g-0 text-center">
        <a href="/_profiler/" class="d-block py-5 bg-dark-subtle text-decoration-none" target="_blank">Profiler</a>
        <a href="javascript:void(0);" class="d-block py-5 bg-light-subtle text-decoration-line-through">xxx</a>
        <a href="javascript:void(0);" class="d-block py-5 bg-dark-subtle text-decoration-line-through">xxx</a>
    </div>


</footer>
