{% extends 'base.html.twig' %}

{% block title %}New GarageStatMax{% endblock %}

{% block body %}
    <h1>Create new GarageStatMax</h1>

    {{ include('garage_stat_max/_form.html.twig') }}

    <a href="{{ path('app_garage_stat_max_index') }}">back to list</a>
{% endblock %}
