{% extends 'base.html.twig' %}

{% block title %}New SettingTag{% endblock %}

{% block body %}
    <h1>Create new SettingTag</h1>

    {{ include('setting_tag/_form.html.twig') }}

    <a href="{{ path('app_setting_tag_index') }}">back to list</a>
{% endblock %}
