
<ul aria-labelledby="notifications" class="dropdown-menu notification">
    <li>
        <div class="notifications-header">
            <div class="title">Notifications (4)</div>
            <div class="notifications-overlay"></div>
            <img src="{{ asset('themes/elisyam/assets/img/notifications/01.jpg') }}" alt="..." class="img-fluid">
        </div>
    </li>
    <li>
        <a href="javascript:void(0);">
            <div class="message-icon">
                <i class="la la-user"></i>
            </div>
            <div class="message-body">
                <div class="message-body-heading">
                    New user registered
                </div>
                <span class="date">2 hours ago</span>
            </div>
        </a>
    </li>
    <li>
        <a href="javascript:void(0);">
            <div class="message-icon">
                <i class="la la-calendar-check-o"></i>
            </div>
            <div class="message-body">
                <div class="message-body-heading">
                    New event added
                </div>
                <span class="date">7 hours ago</span>
            </div>
        </a>
    </li>
    <li>
        <a href="javascript:void(0);">
            <div class="message-icon">
                <i class="la la-history"></i>
            </div>
            <div class="message-body">
                <div class="message-body-heading">
                    Server rebooted
                </div>
                <span class="date">7 hours ago</span>
            </div>
        </a>
    </li>
    <li>
        <a href="javascript:void(0);">
            <div class="message-icon">
                <i class="la la-twitter"></i>
            </div>
            <div class="message-body">
                <div class="message-body-heading">
                    You have 3 new followers
                </div>
                <span class="date">10 hours ago</span>
            </div>
        </a>
    </li>
    <li>
        <a rel="nofollow" href="javascript:void(0);" class="dropdown-item all-notifications text-center">View All Notifications</a>
    </li>
</ul>
