
<ul aria-labelledby="user" class="user-size dropdown-menu">
    <li class="welcome">
        <a href="javascript:void(0);" class="edit-profil"><i class="la la-gear"></i></a>
        <img src="{{ asset('themes/elisyam/assets/img/avatar/avatar-01.jpg') }}" alt="..." class="rounded-circle">
    </li>
    <li>
        <a href="javascript:void(0);" class="dropdown-item">
            Profile
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" class="dropdown-item">
            Messages
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" class="dropdown-item no-padding-bottom">
            Settings
        </a>
    </li>
    <li class="separator"></li>
    <li>
        <a href="javascript:void(0);" class="dropdown-item no-padding-top">
            Faq
        </a>
    </li>
    <li><a rel="nofollow" href="javascript:void(0);" class="dropdown-item logout text-center"><i class="ti-power-off"></i></a></li>
</ul>
