<!-- Begin Page Header-->
<div class="row">
    <div class="page-header">
        <div class="d-flex align-items-center">
            <h2 class="page-header-title">
                {% if breadcrumb is defined and app.current_route ends with 'index' %}{{ breadcrumb.level1 }}{% else %}{{ breadcrumb.level2 }}{% endif %}
            </h2>
            <div>
                <div class="page-header-tools">
                    {% if links is defined %}<a class="btn btn-gradient-01" href="{{ path(links.create) }}">{{ 'btn.create' | trans }}</a>{% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Header -->

