
<!-- Begin Preloader -->
<div id="preloader">
    <div class="canvas">
        <img src="{{ asset('themes/elisyam/assets/img/logo-2.png') }}" class="loader-logo" alt="logo">
        <div class="spinner"></div>
    </div>
</div>
<!-- End Preloader -->
