
                <!-- User -->
                <li class="nav-item dropdown">
                    <a id="user" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link">
                        <img src="{{ asset('images/sako-01.jpg') }}" class="avatar rounded-circle" alt="...">
                    </a>
                    <ul aria-labelledby="user" class="user-size dropdown-menu">
                        <li class="welcome">
                            <a href="javascript:void(0);" class="edit-profil"><i class="la la-gear"></i></a>
                            <img src="{{ asset('images/sako-01.jpg') }}" class="rounded-circle" alt="...">
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="dropdown-item">Profile</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="dropdown-item">Messages</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="dropdown-item no-padding-bottom">Settings</a>
                        </li>
                        <li class="separator"></li>
                        <li>
                            <a href="javascript:void(0);" class="dropdown-item no-padding-top">Faq</a>
                        </li>
                        <li><a rel="nofollow" href="{{ path('app.security.logout') }}" class="dropdown-item logout text-center"><i class="ti-power-off"></i></a></li>
                    </ul>
                </li>
                <!-- End User -->
