
<!-- Begin Preloader -->
{#<div id="preloader">#}
{#    <div class="canvas">#}
{#        <img src="{{ asset(logo) }}" class="loader-logo" alt="{{ metas.title }}">#}
{#        <div class="spinner"></div>#}
{#    </div>#}
{#</div>#}
<!-- End Preloader -->
