{% extends 'base.html.twig' %}

{% block title %}New InventoryApp{% endblock %}

{% block body %}
    <h1>Create new InventoryApp</h1>

    {{ include('inventory_app/_form.html.twig') }}

    <a href="{{ path('app_inventory_app_index') }}">back to list</a>
{% endblock %}
