{% block body %}

    {% block preloader %}
{#        {% include '@App/partials/front/loader.html.twig' %}#}
    {% endblock %}

    {% block header %}
        {% include '@App/partials/front/header.html.twig' %}
    {% endblock %}

<main class="{% block mainClass %}{{ container|default('container') }}{% endblock %} h-100">
    {% block breadcrumb %}
        {% include '@App/partials/front/breadcrumb.html.twig' %}
    {% endblock %}

    {% block content %}{% endblock %}
</main>

    {% block footer %}
        {% include '@App/partials/front/footer.html.twig' %}
    {% endblock %}

{% endblock %}

{% extends '@App/base.html.twig' %}
