{% extends 'base.html.twig' %}

{% block title %}Edit RaceTrack{% endblock %}

{% block body %}
    <h1>Edit RaceTrack</h1>

    {{ include('race_track/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_race_track_index') }}">back to list</a>

    {{ include('race_track/_delete_form.html.twig') }}
{% endblock %}
