    <thead>
        <tr>
            <th>{{ 'text.evo'|trans }}</th>
            <th>{{ 'text.gauntlet.division'|trans }}</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ entity.evo.number }}</td>
            <td>{{ entity.gauntlet.division }}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </tbody>
