{#{{ attributes }}>#}
{% if slug is defined %}
    {% set url = path(link, {'id': id, 'slug': slug}) %}
{% else %}
    {% set url = path(link, {'id': id}) %}
{% endif %}
<td class="{{ classes.table.td }} text-end">
    <a href="{{ url }}" class="btn btn-sm btn-outline-info rounded-3 py-1 m-0">
        <i class="fa-solid fa-pencil"></i><span class="d-xxl-inline-block d-xl-none">&nbsp;{{ 'btn.update'|trans }}</span>
    </a>
</td>
