
{#<span{{ attributes }}>#}
    <!-- component HTML -->
{% if value is true %}
    <i class="fa-solid fa-check text-success"></i>
{% else %}
    <i class="fa-solid fa-xmark text-danger"></i>
{% endif %}
{#</span>#}
